body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Helvetica, sans-serif;
}

svg { 
    position:fixed; 
    top:0; 
    left:0; 
    height:100%; 
    width:100% 
}

#idContainer {
    position:absolute;
    top:90vh;
    left:5vw;
    font-family:Verdana, Helvetica, sans-serif;
    font-weight:bold;
    
}

#idContainer input {
    background-color:rgba(0,0,0,0);
    font-family:Verdana, Helvetica, sans-serif;
    /* font-weight:bold; */
    border:none;
    font-size: 16px;
}

#idContainer select {
    background-color:rgba(0,0,0,0);
    font-family:Verdana, Helvetica, sans-serif;
    /* font-weight:bold; */
    border:none;
    font-size: 16px;
}

svg p {
    color: white;
    text-align: center;
    font-size: 12px;
}

svg div.entityTitle {
    height: calc(100% - 10px);
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 5px;
}

svg line {
    stroke: rgb(40, 45, 51);
}

svg circle {
    fill: rgb(42, 56, 51);
}