body {
    margin: 0px;
}

#idContainer {
    position:absolute;
    top:90vh;
    left:5vw;
    font-family:Verdana, Helvetica, sans-serif;
    font-weight:bold;
    
}

#idContainer input {
    background-color:rgba(0,0,0,0);
    font-family:Verdana, Helvetica, sans-serif;
    /* font-weight:bold; */
    border:none;
    font-size: 16px;
}

#idContainer select {
    background-color:rgba(0,0,0,0);
    font-family:Verdana, Helvetica, sans-serif;
    /* font-weight:bold; */
    border:none;
    font-size: 16px;
}